* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  
html {
    position: relative;
    min-height: 100%;
}


body {
    background: linear-gradient(to top left, #6c655d, #fcfcf3);
    margin: 0 0 400px; 
}  


.image-container {
   /* margin-right: 10px; */
    border: 18px solid transparent;
    transition: transform .2s;
    
}


.image-container:hover {
    transform: scale(1.2);
}


.footer {
    background : #111;
    padding: 50px 0;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 150px;
    width: 100%;
}


.footer-titles {
    color: #ff5b3f;
    font-size: 16px;
    font-family: "proxima-nova", Arial, sans;
    text-transform: uppercase;
}



#about-p {
    color: #fff;
}

.footer-links{
    text-decoration: none;
    font-size: 16px;
    color: white;
}


.footer-links a {
    padding-right: 5px;
}


#site-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px; 
}


.nav-link {
    font-size: 14px;
    text-transform: uppercase;
}


.profile-header-icon {
  border-radius: 50%;
  width: 26px;
  height: 26px;
  background-color: #AAA;
}


.card {
    margin-right: 10px;
    background-color:transparent;
    border:none;
}

/* .card h4, .card a {
    margin-left: 20px;
}  */

/*@media only screen and (min-width: 768px) and (max-width: 991px){
    .md-mb-30{
        margin-bottom : 30px;
    }
}

@media only screen and (max-width: 767px){
    .sm-mb-30{
        margin-bottom: 30px;
    }

    .footer-top{
        padding: 50px 0;
        
    }
}*/


