body {
    background: linear-gradient(to top left, #6c655d, #fcfcf3);
}



h5 {
    color: #ff5b3f;
    font-size: 16px;
    font-family: "proxima-nova", Arial, sans;
    text-transform: uppercase;
}

.footer-top {
    background : #111;
    padding: 50px 0;
}


#about-p {
    color: #fff;
}

.footer-links{
    text-decoration: none;
    font-size: 16px;
    color: white;
}


a {
    padding-right: 5px;
}


#site-title{
    font-family: "Snell Roundhand, cursive";
    font-size: 25px; 
}


.header-links {
    font-size: 14px;
    text-transform: uppercase;
}



/*@media only screen and (min-width: 768px) and (max-width: 991px){
    .md-mb-30{
        margin-bottom : 30px;
    }
}

@media only screen and (max-width: 767px){
    .sm-mb-30{
        margin-bottom: 30px;
    }

    .footer-top{
        padding: 50px 0;
        
    }
}*/