* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.paintings {
  height: 60%;
  position: absolute;
  top: 60%;
  left: 70%;
  transform: translate(-50%, -50%);
  width: 500px;
}

.description {
  margin-top: 10%;
  width: 50%;
  margin-left: 5%;
  font-size: 20px;
}

.description p {
  margin: 50px 0px 10px 0px;
}


.welcome-buttons {
   border-style: double;
   height: 40px;
   width: 130px;
   font-size: 20px;
   color:black;
   padding: 0;
}

.s3 {
  background: linear-gradient(to left, #aec1db, #f89a9e);
}


html {
  position: relative;
  min-height: 100%;
}

body {
    margin: 0 0 150px;
    /* bottom = footer height */
    padding: 0px;
    /*background:linear-gradient(to top right,#8d0bff,#eb52ff);*/
    font-family: "Poppins", sans-serif;
}

  h5 {
    color: #ff5b3f;
    font-size: 16px;
    font-family: "proxima-nova", Arial, sans;
    text-transform: uppercase;
  }

  .footer-top {
    background : #111;
    padding: 50px 0;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 150px;
    width: 100%;
    overflow: hidden;
  }


  #about-p {
    color: #fff;
  }

  .footer-links{
    text-decoration: none;
    font-size: 16px;
    color: white;
  }


  a {
      padding-right: 5px;
  }


  #site-title{
      font-family: "Snell Roundhand, cursive";
      font-size: 25px;
  }

  .header-links {
      font-size: 14px;
      text-transform: uppercase;
  }


  .bio-section {
      font-size: 20px;
  }


  .card-style {
    margin: 50px 0;
    background: transparent;
  }

    /*@media only screen and (min-width: 768px) and (max-width: 991px){
    	.md-mb-30{
    		margin-bottom : 30px;
    	}
    }

    @media only screen and (max-width: 767px){
    	.sm-mb-30{
    		margin-bottom: 30px;
    	}

    	.footer-top{
    		padding: 50px 0;

    	}
    }*/



/**************** Main page sections *******************************/

#fullPage .section h1{
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 90px;
    color: white !important;
    margin-bottom: 150px;
}

.section .description{
    margin-left: 150px;
    color: white;
    font-size: 30px;
}

.section .description button{
    border: 1px solid white;
    background: none;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
}
.section .description button:hover{
    cursor: pointer;
    background: white;
    color: black;
}

.s1{
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5) ), url("{{ asset('imgs/section1.jpg') }}");
    background-size: cover;
}

.s2{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('imgs/section2.jpg');
    background-size: cover;
}

.s3{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8) ), url('imgs/section3.jpg');
    background-size: cover;
}

#fp-nav span{
    background: white !important;
}

#app #main-navbar{
    background-color: #111;
}
